version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: agro_postgres
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=agrodb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
  # worker:
    # build:
      # context: .
      # dockerfile: Dockerfile
    # container_name: agro_worker
    # environment:
      # - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=agrodb;Username=admin;Password=admin
      # - AWS_REGION=us-east-1
      # - AWS_ACCESS_KEY_ID=SUA_ACCESS_KEY
      # - AWS_SECRET_ACCESS_KEY=SUA_SECRET_KEY
      # - AwsSettings__QueueUrl=https://sqs.us-east-1.amazonaws.com/....
      # - HistoryApiUrl=http://host.docker.internal:5000
volumes:
  postgres_data:

networks:
  agro-net:
    driver: bridge