version: '3.8'

services:
  worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: agro_worker
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=agrodb;Username=admin;Password=admin
      
      - AWS_REGION=sa-east-1
      - AWS_ACCESS_KEY_ID=
      - AWS_SECRET_ACCESS_KEY=
      
      - AwsSettings__QueueUrl=https://sqs.sa-east-1.amazonaws.com/316295889438/sensor-raw-queue
      - AwsSettings__EmailQueueUrl=https://sqs.sa-east-1.amazonaws.com/316295889438/agrosolutions-email-queue
      - AwsSettings__WaitTimeSeconds=20
      - AwsSettings__MaxMessages=10
      
      - HistoryApiUrl=
    networks:
      - agro-net
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  agro-net:
    driver: bridge